body{
    position: absolute;
    width: 550px;
    height: 704px;
    left: 0px;
    top: 0px;
    margin: 0;
    background: whitesmoke;
}
.head{
    width: 550px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: rgb(12, 230, 23);
}
.head--text{
    position: absolute;
    left: 190px;
    top: 5px;
    font-size: 14.4608px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}
.head--img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 100px);
    top: calc(50% - 24px/2 - 320px);
}
.fuji{
    position: absolute;
    width: 125px;
    height: 168px;
    left: 40px;
    top: 100px;
    background: url("fuji.jpg");
    border-radius: 5px
}
.fuji--img1{
    position: absolute;
    width: 7px;
    height: 9.55px;
    left: calc(50% - 7px/2 - 87.5px);
    top: calc(50% - 9.55px/2 - 227.23px);
    background: #DADADA;
}
.fuji--location{
    position: absolute;
    left: 195px;
    top: 109px;
    font-size: 10.24px;
    letter-spacing: 0.17em;
    color: #2B283A;
}
.fuji--text{
    position: absolute;
    left: 235px;
    top: 109px;
    font-size: 10.24px;
    text-decoration-line: underline;
    color: #918E9B;
}
.fuji--title{
    position: absolute;
    left: 184px;
    top: 110px;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}
.fuji--date{
    position: absolute;
    left: 184px;
    top: 170px;
    font-weight: 700;
    font-size: 10.24px;
    color: #2B283A;
}
.fuji--describe{
    position: absolute;
    width: 326px;
    left: 184px;
    top: 190px;
    font-size: 10.24px;
    line-height:15px;
    color: #2B283A;
}
.sydney{
    position: absolute;
    width: 126px;
    height: 168px;
    left: 39px;
    top: 304px;
    background: url("robson.jpg");
    border-radius: 5px;
}
.sydney--img1{
    position: absolute;
    width: 7px;
    height: 9.55px;
    left: calc(50% - 7px/2 - 87.5px);
    top: calc(50% - 9.55px/2 - 30.23px);
    background: #DADADA;
}
.sydney--location{
    position: absolute;
    left: 195px;
    top: 305px;
    font-size: 10.24px;
    letter-spacing: 0.17em;
    color: #2B283A;
}
.sydney--text{
    position: absolute;
    left: 255px;
    top: 305px;
    font-size: 10.24px;
    text-decoration-line: underline;
    color: #918E9B;
}
.sydney--title{
    position: absolute;
    left: 184px;
    top: 310px;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}
.sydney--date{
    position: absolute;
    left: 184px;
    top: 370px;
    font-weight: 700;
    font-size: 10.24px;
    color: #2B283A;
}
.sydney--describe{
    position: absolute;
    width: 326px;
    left: 184px;
    top: 390px;
    font-size: 10.24px;
    line-height:15px;
    color: #2B283A;
}
.norway{
    position: absolute;
    width: 126px;
    height: 168px;
    left: 40px;
    top: 508px;
    background: url("disney.jpg");
    border-radius: 5px;
}
.norway--img1{   
    position: absolute;
    width: 7px;
    height: 9.55px;
    left: calc(50% - 7px/2 - 87.5px);
    top: calc(50% - 9.55px/2 + 180.77px);
    background: #DADADA;
}
.norway--location{
    position: absolute;
    left: 195px;
    top: 516px;
    font-size: 10.24px;
    letter-spacing: 0.17em;
    color: #2B283A;
}
.norway--text{
    position: absolute;
    left: 256px;
    top: 516px;
    font-size: 10.24px;
    text-decoration-line: underline;
    color: #918E9B;
}
.norway--title{
    position: absolute;
    left: 184px;
    top: 520px;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}
.norway--date{
    position: absolute;
    left: 184px;
    top: 580px;
    font-weight: 700;
    font-size: 10.24px;
    color: #2B283A;
}
.norway--describe{
    position: absolute;
    width: 326px;
    left: 184px;
    top: 600px;
    font-size: 10.24px;
    line-height:15px;
    color: #2B283A;
}