body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;
}
.data-card {
  height: 250px;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
}
.card-img-wrapper {
  width: 40%;
}
.card-info-wrapper {
  width: 60%;
}
.card-img {
  height: 100%;
  width: 100%;
}

.head {
  width: 100%;
  height: 55px;
  background: rgb(12, 230, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head--text {
  color: #ffffff;
}
.head--img {
  width: 24px;
  height: 24px;
}
